.div-grids{
    display: flex;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: row;
}

.grid-host{
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;;
    margin: 20px;
}
.grid-guest{
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(46, 113, 139);
    margin: 20px;
}

.grid div{
    width: 40px;
    height: 40px;
}

.ships-container{
    width: 220px;
    min-width: 220px;
    height: 400px;
    background-color: blue;
    margin: 20px;
    overflow-y: scroll;
}

.destroyer-container{
    width: 80px;
    height: 40px;
    background-color: white;
    display: flex;
    margin: 5px;
}
.destroyer-container-vertical{
    width: 40px;
    height: 80px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.submarine-container{
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.submarine-container-vertical{
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.cruiser-container{
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.cruiser-container-vertical{
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.battleship-container{
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.battleship-container-vertical{
    width: 40px;
    height: 160px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.carrier-container{
    width: 200px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}
.carrier-container-vertical{
    width: 40px;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.ship div{
    width: 40px;
    height: 40px;
}
.ship{
    /* border: solid tomato; */
    background-color: whitesmoke;
}

.hit{
    background: 
         linear-gradient(to top left,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(0,0,0,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%),
         linear-gradient(to top right,
             rgba(0,0,0,0) 0%,
             rgba(0,0,0,0) calc(50% - 0.8px),
             rgba(0,0,0,1) 50%,
             rgba(0,0,0,0) calc(50% + 0.8px),
             rgba(0,0,0,0) 100%);
    background-color: red;
}

.miss{
    background-color: gray;
}

.connected, .ready {
    font-weight: normal;
}

.connected span,
.ready span {
    display: block;
    width: 1rem;
    height: 1rem;
    background: red;
}

span.green{
    background: green;
}
