* {
  font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #5f99c9;
    background-image: url("seatexture.png");
}

.mainHeader {
    text-align: center;
    color: whitesmoke;
}

.div-header {
  align-content: center;
  text-align: center;
}

.headerButton {
  background-color: #333333;
  color: whitesmoke;
  border: solid silver;
  border-radius: 2px;
  padding: 12px 20px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
}

.headerButton:hover {
  background-color: #666666;
}

.headerButton:active {
  background-color: #222222;
}

.div-grids {
  display: flex;
  flex-direction: row;
}

.panel {
  display: flex;
  flex-direction: row;
}

.grid-main {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #4da1d1;
  margin: 20px;
}

.grid-enemy {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #3756a3;
  margin: 20px;
}

.grid div {
  width: 40px;
  height: 40px;
}

#tileStyle {
  box-shadow:inset 0px 0px 0px 0.2px #000000;
}

.ships-container {
  width: 240px;
  min-width: 220px;
  height: 360px;
  background-image: linear-gradient(#666666, #333333);
  margin: 20px;
  overflow-y: scroll;
}

.ships-container::-webkit-scrollbar {
  width: 5px;
}

.ships-container::-webkit-scrollbar-track {
  background-image: linear-gradient(#666666, #333333);
}

/* Handle */
.ships-container::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 10px;
}

.rotateHeadsUp {
  margin: 10px;
  color: whitesmoke;
}

.Destroyer-container {
  width: 80px;
  height: 40px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  border-radius: 10px;
}
.Destroyer-container-v {
  width: 40px;
  height: 80px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.Submarine-container {
  width: 120px;
  height: 40px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  border-radius: 10px;
}
.Submarine-container-v {
  width: 40px;
  height: 120px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.Cruiser-container {
  width: 120px;
  height: 40px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  border-radius: 10px;
}
.Cruiser-container-v {
  width: 40px;
  height: 120px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.Battleship-container {
  width: 160px;
  height: 40px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  border-radius: 10px;
}
.Battleship-container-v {
  width: 40px;
  height: 160px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}
.Carrier-container {
  width: 200px;
  height: 40px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  border-radius: 10px;
}
.Carrier-container-v {
  width: 40px;
  height: 200px;
  background-color: #aaaaaa;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.ship div {
  width: 40px;
  height: 40px;
}
.ship {
  /* border: solid tomato; */
  background-color: whitesmoke;
  box-shadow:inset 0px 0px 0px 1px #000000;
}

.hit {
  background: 
       linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%),
       linear-gradient(to top right,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%);
  background-color: red;
}

.miss {
  background-color: gray;
}

.connected, .ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}