* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #579ec7;
    background-image: url("seatexture.png");
}

#gameHeader {
    align-self: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(#111, #222);
    border-bottom: solid silver;
    border-bottom-width: 2px;
    padding: 24px;
    margin: -8px;
    letter-spacing: 1px;
}

.mainHeader {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 36px;
}

.div-header {
    align-content: center;
    text-align: center;
    margin-top: 26px;
}

.headerButton {
    background-color: #333333;
    color: whitesmoke;
    border: solid silver;
    border-radius: 2px;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.2s;
    border-radius: 5%;
}

.headerButton:hover {
    background-color: #666666;
}

.headerButton:active {
    background-color: #222222;
}

.headerButton.disabled {
    color: #999999;
    border: solid #595959;
    background-color: #111111;
    cursor: not-allowed;
}

.div-battlefields {
    display: flex;
    flex-direction: row;
}

.ship-panel {
    display: flex;
    flex-direction: row;
}

.grid-main {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #4da1d1;
    margin: 20px;
}

.grid-enemy {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3756a3;
    margin: 20px;
}

.grid div {
    width: 40px;
    height: 40px;
}

#tileStyle {
    box-shadow:inset 0px 0px 0px 0.2px #000000;
    transition-duration: 0.2s;
}

.grid-enemy #tileStyle:hover {
    box-shadow:inset 0px 0px 0px 0.2px #000000;
    background-color: rgba(0,0,0,0.1);
}

.larger-ship-panel {
    width: 240px;
    min-width: 220px;
    height: 360px;
    background-color: rgba(51, 51, 51, 0.8);
    margin: 20px;
    margin-top: 26px;
    overflow-y: scroll;
    border-radius: 1%;
    border-color: silver;
    border-width: 10px;
}

.larger-ship-panel::-webkit-scrollbar {
    width: 5px;
}

.larger-ship-panel::-webkit-scrollbar-track {
    background-color: rgba(51, 51, 51, 0.8);
}

.larger-ship-panel::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
}

.rotateHeadsUp {
    margin: 10px;
    color: whitesmoke;
}

.Destroyer-div {
    width: 80px;
    height: 40px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
}

.Destroyer-div:hover {
    background-color: #a1a1a1;
}

.Destroyer-div-v {
    width: 40px;
    height: 80px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Destroyer-div-v:hover {
    background-color: #a1a1a1;
}

.Submarine-div {
    width: 120px;
    height: 40px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
}

.Submarine-div:hover {
    background-color: #a1a1a1;
}

.Submarine-div-v {
    width: 40px;
    height: 120px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Submarine-div-v:hover {
    background-color: #a1a1a1;
}

.Cruiser-div {
    width: 120px;
    height: 40px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
}

.Cruiser-div:hover {
    background-color: #a1a1a1;
}

.Cruiser-div-v {
    width: 40px;
    height: 120px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Cruiser-div-v:hover {
    background-color: #a1a1a1;
}

.Battleship-div {
    width: 160px;
    height: 40px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
}

.Battleship-div:hover {
    background-color: #a1a1a1;
}

.Battleship-div-v {
    width: 40px;
    height: 160px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Battleship-div-v:hover {
    background-color: #a1a1a1;
}

.Carrier-div {
    width: 200px;
    height: 40px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
}

.Carrier-div:hover {
    background-color: #a1a1a1;
}

.Carrier-div-v {
    width: 40px;
    height: 200px;
    background-color: #aaaaaa;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Carrier-div-v:hover {
    background-color: #a1a1a1;
}

.ship div {
    width: 40px;
    height: 40px;
}
.ship {
    background-color: whitesmoke;
    box-shadow:inset 0px 0px 0px 1px #000000;
}

.hit {
    background: 
    linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%);
    background-color: red;
}

.miss {
    background-color: gray;
}

.gameInfo {
    background-color: rgba(51, 51, 51, 0.8);
    padding: 12px;
    border-radius: 5%;
    margin-top: 93px;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: white;
    max-height: 380px;
}

h4.playerScore {
    align-content: center;
    text-align: center;
    justify-content: center;
}

#connections {
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.connected span,
.ready span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-style: outset;
    border-color: #333333;
    background: #ff0000;
    box-shadow:inset 0px 0px 0px 1.5px #222222;
    margin-top: 10px;
}

span.green {
    background: #00af00;
}