body {
    width: 100%;
    height: 100%;
    background-color: #579ec7;
    background-image: url("seatexture.png");
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#leaderboard {
    margin-top: 30px;
    background-color: rgba(51, 51, 51, 0.8);
    margin-left: 200px;
    margin-right: 200px;
    border: solid silver;
    border-radius: 2px;
    box-shadow: 0 0 40px -10px #000;
    border-radius: 2%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#leaderboard_header {
    align-self: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(#111, #222);
    border-bottom: solid silver;
    border-bottom-width: 2px;
    padding: 24px;
    margin: -8px;
    letter-spacing: 1px;
}

.leaderboardTitle {
    color:white;
    font-size: 36px;
}

#leaderboard_list {
    width: 100%;
    padding: 20px;
    list-style: none;
    overflow-y: auto;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: whitesmoke
}

.returnButton {
    background-color: #333333;
    color: whitesmoke;
    border: solid silver;
    border-radius: 2px;
    padding: 24px 40px;
    text-align: center;
    font-size: 24px;
    transition-duration: 0.2s;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 0 0 40px -10px #000;
    margin-top: 40px;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 600px;
    margin-right: 600px;
}

.returnButton:hover {
    background-color: #666666;
}

.returnButton:active {
    background-color: #222222;
}